@{
    ViewData["Title"] = "EntCounter";
}
<h2>Лабораторна робота 2</h2>
<p>
    <b>Завдання:</b> Енти були створені в Початкову епоху разом з іншими мешканцями Середзем'я. Ельфійські легенди свідчать, що коли Варда запалила зірки і прокинулися Ельфи, разом із ними прокинулися й Енти у Великих Лісах Арди.

    Коли Енти прийшли в Арду, вони ще не вміли говорити - цьому мистецтву їх навчали Ельфи, і Ентам це дуже подобалося. Їм приносило задоволення вивчати різні мови, навіть щебетання Людей.

    Ельфи виробили хорошу техніку навчання ентів своєї мови. Перший ент, якого навчили ельфи, вивчив всього два слова - tancave (так) і la (ні). Навчений ент вибрав одного старого і одного молодого ента, які не вміють говорити, і навчив їх усім словам, які знав сам. Потім навчання цих двох ентів продовжили ельфи. Кожен ент, який навчився у ельфів, знову вибирав із небалакучих родичів одного старого і одного молодого, навчав їх усім словам, які знав, передавав ельфам і так далі.

    З'ясувалося, що молодші енти вивчали в ельфів ще рівно стільки ж слів, скільки вони дізналися від ента, що навчав їх. А ось більш старі, вже схильні до здеревіння енти, поповнювали свій запас лише одним словом. Після навчання у ельфів енти до кінця світу вже не могли вивчити жодного нового слова.

    Загальна кількість ентів у Середзем'ї більша, ніж ви думаєте. Цікаво, а скільки знають рівно 150 квенійських слів? Схоже завдання вам доведеться вирішити.
</p>
<p>
    <b>Вхідні дані:</b> Натуральні числа K і P (K ≤ 106; 1 ≤ P ≤ 109), записані через пропуск.
</p>
<p>
    <b>Вихідні дані:</b> Кількість ентів, які знають рівно K слів, за модулем P.
</p>
<form method="post" enctype="multipart/form-data" action="@Url.Action("EntCounter", "Labs")">
    <label for="inputFile" class="form-label">Вхідний файл:</label>
    <input type="file" class="form-control" id="inputFile" name="inputFile" required>
    <br />
    <button type="submit">Виконати</button>
</form>

<label class="form-label">Результат:</label>
<textarea class="form-control" id="outputContent" rows="4" readonly>@ViewBag.Result</textarea>