@{
    ViewData["Title"] = "FindLength";
}

<h2>Лабораторна робота 1</h2>
<p>
    <b>Завдання:</b> Визначимо відстань між рівними по довжині рядками SA та SB (позначимо d(SA, SB)) як суму для всіх 1 ≤ i ≤ |SA| найкоротших відстаней між літерами SA(i) та SB(i) у циклічно замкнутому англійському алфавіті (тобто після букви «a» йде буква «b», ..., після букви «z» йде «a»). Наприклад, d(aba, aca) = 1, а d(aba, zbz) = 2. Потрібно порахувати ступінь циклічної відстані заданих рядків SA та SB.
</p>
<p>
    <b>Вхідні дані:</b> Два рядки рівної довжини, що не перевищує 105 символів. Рядки складаються лише з маленьких букв англійського алфавіту.
</p>
<p>
    <b>Вихідні дані:</b> Ступінь циклічної відстані заданих рядків SA та SB. 
</p>

<form method="post" enctype="multipart/form-data" action="@Url.Action("FindLength", "Labs")">
    <label for="inputFile" class="form-label">Вхідний файл:</label>
    <input type="file" class="form-control" id="inputFile" name="inputFile" required>
    <br />
    <button type="submit">Виконати</button>
</form>

<label class="form-label">Результат:</label>
<textarea class="form-control" id="outputContent" rows="4" readonly>@ViewBag.Result</textarea>
