@{
    ViewData["Title"] = "RectangleAreaSolver";
}
<h2>Лабораторна робота 3</h2>
<p>
    <b>Завдання:</b> На площині розташовані кілька прямокутників. Кожен прямокутник на площині визначається координатами лівого нижнього кута (X1, Y1) і правого верхнього кута (X2, Y2), при цьому сторони прямокутників паралельні осям координат. При накладенні один на одного прямокутники утворюють фігури, окремо розташований прямокутник – теж фігура. Прямокутники, що торкаються лише кутами, не утворюють фігуру. Якщо прямокутники стикаються сторонами, вони теж утворюють фігуру. Потрібно визначити фігуру максимальної площі.
</p>
<p>
    <b>Вхідні дані:</b> У першому рядку записано кількість прямокутників N (1 ≤ N ≤ 25), далі йдуть N рядків з координатами вершин прямокутників X1, Y1, X2, Y2, розділених пробілом. Координати вершин - цілі, невід'ємні числа, в діапазоні від 0 до 100 включно.
</p>
<p>
    <b>Вихідні дані:</b> Одне ціле число – площа знайденої фігури.
</p>
<form method="post" enctype="multipart/form-data" action="@Url.Action("RectangleAreaSolver", "Labs")">
    <label for="inputFile" class="form-label">Вхідний файл:</label>
    <input type="file" class="form-control" id="inputFile" name="inputFile" required>
    <br />
    <button type="submit">Виконати</button>
</form>

<label class="form-label">Результат:</label>
<textarea class="form-control" id="outputContent" rows="4" readonly>@ViewBag.Result</textarea>
